 <div id="index_backtop">
        <div id="backtop_img"><img src="../public/images/back_to_top.jpg" width="13" height="13" /></div>
        <div id="backtop_text"><a href="#pagetop">返回顶部</a></div>
    </div>
    <div style="height:8px; line-height:0px;" class="clear"></div>
    <!-- **********************intro**********************  -->
    <DiV id="index_intro">
        <div id="index_intro_left">
            <!-- ******* -->
            <div class="intro_area  intro_area_margin">
                <div class="intro_area_title blacklink"><a href="Attidude.php.htm">态度及影响</a></div>
                <li class="heiyi_gray_link"><a href="History.php.htm">发展历程</a></li>
                <li class="heiyi_gray_link"><a href="Honors.php.htm">国内外影响</a></li>
                <li class="heiyi_gray_link"><a href="Activities.php.htm">活动</a></li>
                <li class="heiyi_gray_link"><a href="recruit.php.htm">招聘信息</a></li>
            </div>
            <!-- ******* -->
            <div class="intro_area  intro_area_margin2">
                <div class="intro_area_title blacklink"><a href="Organization.php.htm">专注领域</a></div>
                <li class="heiyi_gray_link"><a href="Real_Estate.php.htm">地产整合</a></li>
                <li class="heiyi_gray_link"><a href="Deep_Sea.php.htm">品牌推广</a></li>
                <li class="heiyi_gray_link"><a href="Commercial.php.htm">商业空间</a></li>
                <li class="heiyi_gray_link"><a href="Art_Promotion.php.htm">艺术推广</a></li>
                <li class="heiyi_gray_link"><a href="Creative_Products.php.htm">创意产品</a></li>
                <li class="heiyi_gray_link"><a href="Zhangbei.php.htm">张北摄影</a></li>
            </div>
            <!-- ******* -->
            <div class="intro_area  intro_area_margin">
                <div class="intro_area_title blacklink"><a href="Diversification.php.htm">多元化发展</a></div>
                <li class="heiyi_gray_link"><a href="Diversification.php-tpid=96.htm">水利府</a></li>
                <li class="heiyi_gray_link"><a href="Diversification.php-tpid=40.htm">宽巷子3号</a></li>
                <li class="heiyi_gray_link"><a href="Diversification.php-tpid=41.htm">九一堂</a></li>
                <li class="heiyi_gray_link"><a href="Diversification.php-tpid=42.htm">106好多苹果</a></li>
                <li class="heiyi_gray_link"><a href="index.htm">九昧真火</a></li>
            </div>
            <!-- ******* -->
            <div class="intro_area  intro_area_margin2">
                <div class="intro_area_title blacklink"><a href="Buddy.php.htm">资源平台</a></div>
            </div>
            <!-- ******* -->
            <div class="intro_area  intro_area_margin">
                <div class="intro_area_title blacklink"><a href="Responsibility.php.htm">责任</a></div>
                <li class="heiyi_gray_link"><a href="Responsibility.php-tpid=47.htm">乐马合作社</a></li>
                <li class="heiyi_gray_link"><a href="Responsibility.php-tpid=46.htm">乐马1+1.助学基金</a></li>
                <li class="heiyi_gray_link"><a href="index.htm">乐马1+1.教育基金</a></li>
                <li class="heiyi_gray_link"><a href="Responsibility.php-tpid=48.htm">教育培训</a></li>
            </div>
            <!-- ******* -->
            <div style="margin-right:0px;" class="intro_area  intro_area_margin2">
                <div class="intro_area_title blacklink"><a href="1314online.php.htm">1314在线</a></div>
                <li class="heiyi_gray_link"><a href="1314online.php-tpid=70.htm">在线订阅</a></li>
            </div>
            <!-- ******* -->
        </div>
        <div id="index_intro_right">
            <DIV style="height:18px;" class="clear"></DIV>
            <img src="../public/images/bottom_weibo.jpg" width="236" height="90" /></div>
    </DiV>
    <div style="height:20px;" class="clear"></div>
    <!-- **********************intro**********************  -->
    <DIv ID="index_bottom">
        <div id="index_bottom_left">
            <li><img src="../public/images/bottom_1.jpg" /></li>
            <li><img src="../public/images/bottom_2.jpg" /></li>
            <li><img src="../public/images/bottom_3.jpg" /></li>
            <li><img src="../public/images/bottom_4.jpg" /></li>
            <li><img src="../public/images/bottom_5.jpg" /></li>
        </div>
        <div id="index_bottom_right">
            <div id="index_bottom_link">
                <div style="height:10px;" id="index_bottom_tel"><span>TEL:028-82696066 FAX:028-82696630</span></div>
                <div id="index_bottom_link_txt" style="float:right">
                    <span><a href="sitemap.php.htm">网站地图</a></span>
                    <!--

                <span>|</span>

                <span><a href="http://www.lamecy.wang/links.php">友情链接</a></span>

                -->
                    <span>|</span>
                    <span><a href="contact.php.htm">联系我们</a></span>
                    <span style="width:4px"></span>
                </div>
            </div>
            <div id="index_bottom_line"></div>
            <div id="index_bottom_copyright">
                <a href="javascript:if(confirm('http://www.sailyoung.com/  \n\n该文件无法用 Teleport Ultra 下载, 因为 它是一个域或路径外部被设置为它的启始地址的地址。  \n\n你想在服务器上打开它?'))window.location='http://www.sailyoung.com/'"><img src="../public/images/bottom_contract.jpg" width="480" height="12" /></a></div>
        </div>
    </DIv>
<script>
{{ block 'script' }}
// 书写js代码
{{ /block }}
</script>
</body>

</html>