{{ extend './home.html' }}

{{ block 'content' }}
    <!-- **********************images**********************  -->
    <div class="clear_12height"></div>
    <a name="pagetop"></a>
    <Div id="images_back">
        <div id="images_shadow">
            <!-- **********************images**********************  -->
            <div id="scroll_news" class="tabswrap">
                <div id='wraper' class="tabsWraper">
                    <div class="tabsCon" id="tabsCon">
                        <div class="tabsCon_sec"><img src="../public/images/1373967316ipkm0.jpg" width="955" height="261" title="" /></div>
                        <div class="tabsCon_sec"><img src="../public/images/1375419932f4zd0.gif" width="955" height="261" title="" /></div>
                        <div class="tabsCon_sec"><img src="../public/images/1375419932cyvj1.jpg" width="955" height="261" title="" /></div>
                        <div class="tabsCon_sec"><img src="../public/images/1375419932noyz2.jpg" width="955" height="261" title="" /></div>
                        <div class="tabsCon_sec"><img src="../public/images/1375419932q14p3.jpg" width="955" height="261" title="" /></div>
                    </div>
                </div>
                <ul id="tabsList" class="tabs">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="clear"></div>
            </div>
            <!-- **********************images**********************  -->
        </div>
    </Div>
    <!-- **********************images**********************  -->
    <!-- **********************line**********************  -->
    <div style="height:10px;" class="clear"></div>
    <div id="index_line"></div>
    <!-- **********************line**********************  -->
    <!-- **********************content**********************  -->
    <DIV id="index_content">
        <!-- ************** -->
        <div id="index_Diversification">
            <div id="Divers_title">
                <div id="Divers_title_name">
                    <div style="height:12px;"></div>
                    <span class="ch_family font_14">专注领域.</span>&nbsp;</div>
                <div id="Divers_title_more" class="en_family" style="margin-top:18px"><a href="Organization.php.htm">MORE</a></div>
            </div>
            <div class="clear" style="height:4px;"></div>
            <div class="index_content_line"></div>
            <div id="Divers_images_back">
                <div id="product_img" class="tabswrap_product">
                    <div id='wraper_product' class="tabsWraper_product">
                        <div class="tabsCon_product" id="tabsCon_product">
                            <div class="tabsCon_sec_product"><a target="_blank" href="Real_Estate.php.htm"><img src="../public/images/201308271377578641oitd.gif" width="392" height="244" /></a></div>
                            <div class="tabsCon_sec_product"><a target="_blank" href="Deep_Sea.php.htm"><img src="../public/images/201308271377578654jbe1.gif" width="392" height="244" /></a></div>
                            <div class="tabsCon_sec_product"><a target="_blank" href="Commercial.php.htm"><img src="../public/images/2013082713775786696bpl.gif" width="392" height="244" /></a></div>
                            <div class="tabsCon_sec_product"><a target="_blank" href="Art_Promotion.php.htm"><img src="../public/images/201308271377578690ucly.gif" width="392" height="244" /></a></div>
                            <div class="tabsCon_sec_product"><a target="_blank" href="Creative_Products.php.htm"><img src="../public/images/201308271377578714tsvd.gif" width="392" height="244" /></a></div>
                        </div>
                    </div>
                    <ul id="tabsList_product" class="tabs_product">
                        <li>地产整合</li>
                        <li>品牌推广</li>
                        <li>商业空间</li>
                        <li>艺术推广</li>
                        <li>创意产品</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ************** -->
        <!-- ************************************** -->
        <div id="index_act">
            <div id="index_act_title">
                <div id="index_act_title_name">
                    <div style=" height:12px;"></div>
                    <span class="ch_family font_14">最新活动.</span></div>
                <div id="index_act_title_more" class="en_family" style="margin-top:18px"><a href="Activities.php.htm">MORE</a></div>
            </div>
            <div class="clear" style="height:4px;"></div>
            <div id="index_act_carousel">
                <ul id="mycarousel" class="jcarousel-skin-tango">
                    <li style="cursor:pointer;">
                        <a style="display:block;" href="show_news.php-tpid=73&id=66.htm">
                            <div class="index_right">
                                <div class="index_content_line"></div>
                                <div class="index_content">
                                    <div style="height:4px;"></div>
                                    <div style="margin-left:4px;"><img src="../public/images/1402540234dsp3.jpg" width="228" height="141" /></div>
                                    <div style="margin-top:5px; border-top:3px #FFFFFF solid;"></div>
                                    <div style="height:5px;" class="clear"></div>
                                    <div class="index_act_list_content_title  lineheight_20">第九课堂广告文案训练营 成都第二期</div>
                                    <div style="height:0px;" class="clear"></div>
                                    <div style="height:0px;" class="clear"></div>
                                    <div class="index_act_list_more" style="margin-top:12px"></div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="cursor:pointer;">
                        <a style="display:block;" href="show_news.php-tpid=93&id=65.htm">
                            <div class="index_right">
                                <div class="index_content_line"></div>
                                <div class="index_content">
                                    <div style="height:4px;"></div>
                                    <div style="margin-left:4px;"><img src="../public/images/13902104443hyf.jpg" width="228" height="141" /></div>
                                    <div style="margin-top:5px; border-top:3px #FFFFFF solid;"></div>
                                    <div style="height:5px;" class="clear"></div>
                                    <div class="index_act_list_content_title  lineheight_20">UCI---夏日英伦之约 ---2014英国艺术创意考察之旅</div>
                                    <div style="height:0px;" class="clear"></div>
                                    <div style="height:0px;" class="clear"></div>
                                    <div class="index_act_list_more" style="margin-top:12px"></div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ************************************** -->
        <!-- ************** -->
    </DIV>
    <div class="clear" style="height:12px; line-height:0px;"></div>
    <script type="text/javascript">
    function clearimpit(inputid)

    {

        $("#" + inputid).val("");

    }

    function resetimpit(inputid)

    {

        $("#" + inputid).val("输入你的E-MAIL地址");

    }

    function submitform(formid, inputid)

    {

        var email = $("#" + inputid).val();

        if (email == "")

        {
            alert("没有输入正确的电子邮件地址！");

            return false;

        }

        //var re = "w+([-+.]w+)*@w+([-.]w+)*.w+([-.]w+)*";

        if (!isRegisterUserName(email))

        {
            alert("没有输入正确的电子邮件地址！");
            return false;
        }
        $("#" + formid).submit();
    }

    function isRegisterUserName(s) {
        var patrn = /^[0-9a-z]+([0-9a-z]|_|\.|-)+[0-9a-z]+@(([0-9a-z]+\.)|([0-9a-z]+-))+[a-z]+$/;
        if (!patrn.exec(s))

        {

            return false

        } else {

            return true

        }

    }
    </script>
    <link rel="stylesheet" type="text/css" href="../public/css/bottom.css">
    <div style="height:4px; line-height:0px; " class="clear"></div>
{{ /block }}

{{ block 'script' }}

    window.alert('成功调用')

{{ /block }}
